extends layout

block content
  h1= "New-Team Project Page"
  p(class="redText"). 
    #{title}: This is an example of retrieving a variable value and using a CSS class.
  p.
    This is an example of using the p. tag for a decent
    amount of text.
  button. 1
    Start/Stop Light & Motion Monitoring
