extends layout

block content
  h1= "Multi-Purpose Home Monitor"
  p(class="redText"). 
    #{title}: This is an example of retrieving a variable value and using a CSS class.
  #light
  p.
  #motion
  p.
  button.
    Start/Stop Light & Motion Monitoring
