extends layout

block content
  h1= "Home Light/Motion Monitor"

    div(class="dataDisplay")
      p(id="motionStatus" class="floatLeft").
        Amount of Motion Detected:&nbsp 
      p(id="motionValue" class="floatLeft greenText").
        0
    div(class="dataDisplay")
      p(id="lightStatus" class="floatLeft").
        Amount of Light Detected:&nbsp 
      p(id="lightValue" class="floatLeft greenText").
        0

  br
  br
  br
  button.
    Start/Stop Light & Motion Monitoring
