doctype html
html
  head
    title= title
   
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='javascripts/main.js')
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
    
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/theme.css')

  body
    block content
