doctype html
html
  head
    title= title

    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='javascripts/main.js')
    script(src='javascripts/bonsai-0.4.1.min.js')
    
    link(rel='stylesheet', href='/stylesheets/style.css')
   

  body
    block content
