body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.greenText {
  font-weight: bold;
  color: #00AA00;
}

div.dataDisplay {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  clear: both;
}

p.floatLeft {
    float: left;
}